
<%- include("partials/header.ejs") %>

<body>
 <div class="container">
  <h2>Newsfeed</h2>
   <% if (locals.posts) { %>
    <div class="container-mid">

        <% posts.forEach(post => { %>
          <div class="card firstCard">
      
              <p class="personName"><%= post.content %></p>
              <p><%= post.title %></p>
      
          </div>
          <div class="card secondCard">
            <a href="/posts/<%= post.id %>/edit">Edit</a>


            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger" type="submit">Delete</button>
          </form>
          </div>
           
        <% }); %>
  </div>
  
  <%  } %>
 
    
 </div>
    
<%- include("partials/footer.ejs") %>

</html>